.flex{
    display: flex;
}

.small-img-size{
    width: 200px;
    align-self: self-start;
}

.info-section{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    font-family: jockey;
}

.namething{
    text-align: center;
    font-size: 80px;
    font-family: jockey;
}

.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button{
    background-color: transparent;
    border-color: transparent;
    font-size: 60px;
}

p{
    font-size: 25px;
}


@font-face {
    font-family: jockey;
    src: url("../../assets/JockeyOne-Regular.ttf");
}